<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignHub</title>
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Listeners for dom manipulation -->
    <script src="~/Content/bower_components/arrive/minified/arrive.min.js"></script>

    <link rel="stylesheet" href="~/Content/bower_components/hover/css/hover-min.css">




    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/bower_components/materialize/dist/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/Content/bower_components/materialize/extras/noUiSlider/nouislider.css" media="screen,projection" />
    <script src="~/Content/bower_components/materialize/extras/noUiSlider/nouislider.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="~/content/site.css" />
    <link rel="stylesheet" href="~/content/PartialCss/projects.css" />
    <link rel="stylesheet" href="~/content/PartialCss/sidebar.css" />
    <link rel="stylesheet" href="~/content/PartialCss/markers.css" />




    <!-- joint diagrams -->


    <link href="http://www.jointjs.com/downloads/joint.min.css" rel="stylesheet">

    <script src="http://www.jointjs.com/js/vendor/lodash/lodash.min.js"></script>
    <script src="http://www.jointjs.com/js/vendor/backbone/backbone-min.js"></script>

    <script type="text/javascript" src="http://www.jointjs.com/downloads/joint.min.js"></script>





</head>
<body>
    <script type="text/javascript" src="~/Content/bower_components/materialize/dist/js/materialize.js"></script>


    <div ng-controller="indexController" data-ng-init="init('@User.Identity.IsAuthenticated')">


        <!-- SideBar MENU -->
        <div id="sidebar">

            <img class="center" src="~/Content/img/logo_tmp.png" width="180"
                 style="margin-top:10px;
                        margin-bottom:10px;
                        padding-top:20px;
                        padding-bottom:30px;

                        " />
            <!--@Html.ActionLink("DesignHub", "Index", "Home", null, new { @class = "" })-->
            <!-- Accordions, page navigation -->
            @if (@User.Identity.IsAuthenticated)
            {
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div id="aprojects" ng-click="href('/projects');"
                             class="waves-effect waves-light collapsible-header">
                            <i class="material-icons">view_quilt</i>
                            My Projects
                        </div>
                        <div class="collapsible-body">
                            <p ng-show="current_page.indexOf('project/') == -1">Those are your projects. Go ahead pick one or add new</p>
                            <ul ng-show="current_page.indexOf('project/') > -1" class="collapsible" data-collapsible="accordion" style="box-shadow: 0px 0px 0px 0px;">

                                <p>Project {{project_name}}</p>
                                <li ng-hide="project.nodeHeadId == null">
                                    <div ng-click="href('/project/'+project_id+'/markers/'+project.nodeHeadId)"
                                         class="waves-effect waves-light collapsible-header">
                                        <i class="material-icons">perm_media</i>
                                        Actual Image
                                    </div>

                                </li>
                                <li>
                                    <div ng-click="href('/project/'+project_id)"
                                         class="waves-effect waves-light collapsible-header">
                                        <i class="material-icons">dashboard</i>
                                        <u>D</u>etails
                                    </div>

                                </li>
                                <li>
                                    <div ng-click="href('/project/'+project_id+'/notifications')"
                                         class="waves-effect waves-light collapsible-header">
                                        <i class="material-icons">add_alert</i>
                                        Notifications
                                    </div>

                                </li>
                                <li>
                                    <div ng-click="href('/project/'+project_id+'/graph/0')"
                                         class="waves-effect waves-light collapsible-header">
                                        <i class="material-icons">call_split</i>
                                        Graph
                                    </div>
                                </li>
                                <li>
                                    <div href="#/project/{{project_id}}"
                                         class="waves-effect waves-light collapsible-header">
                                        <i class="material-icons">equalizer</i>
                                        Statistics
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div id="asettings" ng-click="href('/settings');"
                             class="waves-effect waves-light collapsible-header">
                            <i class="material-icons">settings</i>
                            Settings
                        </div>
                        <div class="collapsible-body"><p>Todo</p></div>
                    </li>
                    <li>
                        <div id="atmp" ng-click="href('/contacts');"
                             class="waves-effect waves-light collapsible-header">
                            <i class="material-icons">message</i>
                            Contacts
                        </div>
                        <div class="collapsible-body"><p>Todo</p></div>
                    </li>
                </ul>

            }
            else
            {
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        @Html.ActionLink("Login", "Login", "Account", routeValues: null,
                        htmlAttributes: new { id = "loginLink", @class = "center waves-effect collapsible-header" })

                        <hr style="padding:0;margin:0;">
                    </li>

                    <li>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null,
                        htmlAttributes: new { id = "registerLink", @class = "center waves-effect collapsible-header" })

                    </li>
                </ul>}



            <!-- Profile Pic and logout -->
            @Html.Partial("_LoginPartial")

        </div>

        <!--  -->
        <div id="content">

            <div style="padding:0px;">
                @RenderBody()

                <div data-ng-view=""></div>
            </div>
        </div>

        <!-- Footer -->
        <!-- <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>Footer Content</h5>
                        <p>You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5>Links</h5>
                        <ul>
                            <li><span>Link 1</span></li>
                            <li><span>Link 2</span></li>
                            <li><span>Link 3</span></li>
                            <li><span>Link 4</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <span class="right">More Links</span>
                </div>
            </div>
        </footer>-->
    </div>

    @Scripts.Render("~/bundles/jquery")

    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="~/Content/bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
    <script src="~/Content/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <!-- Load app main script -->
    <script src="~/Frontend/app.js"></script>
    <script src="~/Frontend/Directives.js"></script>
    <!-- Load services -->
    <script src="~/Frontend/Projects/projectsService.js"></script>
    <script src="~/Frontend/Nodes/nodesService.js"></script>
    <script src="~/Frontend/Markers/markersService.js"></script>
    <script src="~/Frontend/Users/usersService.js"></script>
    <script src="~/Frontend/Notifications/notificationsService.js"></script>
    <script src="~/Frontend/Contacts/contactsService.js"></script>
    <!-- Load controllers -->
    <script src="~/Frontend/controllers/indexController.js"></script>
    <script src="~/Frontend/Notifications/notificationsCtrl.js"></script>
    <script src="~/Frontend/Projects/projectsController.js"></script>
    <script src="~/Frontend/Nodes/nodesCtrl.js"></script>
    <script src="~/Frontend/Markers/markersCtrl.js"></script>
    <script src="~/Frontend/Contacts/contactsCtrl.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
