<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignHub</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />


</head>
<body>

    <div ng-controller="indexController" data-ng-init="init('@User.Identity.IsAuthenticated')">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("DesignHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/projects" ng-show="{{user_logged}}">My Orders</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div id="sidebar" ng-show="{{user_logged}}">
            <ul>
                <li>
                    <a href="#/projects" ng-class="{'sidebar-active-el':current_page === 'projects'}" ng-click="current_page = 'projects'">
                        My Projects
                    </a>
                </li>

                <li>
                    <a href="#/settings" ng-class="{'sidebar-active-el':current_page === 'settings'}" ng-click="current_page = 'settings'">
                        Settings
                    </a>
                </li>

                <li></li>

            </ul>


        </div>

        <div id="content">

            @RenderBody()

            <div data-ng-view=""></div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <!-- Load app main script -->
    <script src="~/app/app.js"></script>
    <!-- Load services -->
    <script src="~/app/Projects/projectsService.js"></script>
    <!-- Load controllers -->
    <script src="~/app/controllers/indexController.js"></script>

    <script src="~/app/Projects/projectsController.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
