<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignHub</title>
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/bower_components/materialize/dist/css/materialize.min.css" media="screen,projection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="~/content/site.css" />
    <link rel="stylesheet" href="~/content/PartialCss/projects.css" />
    <link rel="stylesheet" href="~/content/PartialCss/sidebar.css" />


</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/materialize/dist/js/materialize.js"></script>


    <div ng-controller="indexController" data-ng-init="init('@User.Identity.IsAuthenticated')">


        <!-- SideBar MENU -->
        <div id="sidebar">

            <img class="center" src="~/Content/img/logo_tmp.png" width="180"
                 style="margin-top:10px;
                        margin-bottom:10px;
                        padding-top:20px;
                        padding-bottom:30px;

                        " />
            <!--@Html.ActionLink("DesignHub", "Index", "Home", null, new { @class = "" })-->
   


            <!-- Accordions, page navigation -->
            @if (@User.Identity.IsAuthenticated)
            {
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div id="aprojects" ng-click="href('/projects');"
                             class="waves-effect waves-light collapsible-header">
                            <i class="material-icons">view_quilt</i>
                            My Projects
                        </div>
                        <div class="collapsible-body">
                            <p>Those are your projects. Go ahead pick one or add new</p>
                        </div>
                    </li>
                    <li>
                        <div id="asettings" ng-click="href('/settings');"
                             class="waves-effect waves-light collapsible-header">
                            <i class="material-icons">settings</i>
                            Settings
                        </div>
                        <div class="collapsible-body"><p>Todo</p></div>
                    </li>
                    <li>
                        <div id="atmp" ng-click="href('/tmp');"
                             class="waves-effect waves-light collapsible-header">
                            <i class="material-icons">message</i>
                            Messages
                        </div>
                        <div class="collapsible-body"><p>Todo</p></div>
                    </li>
                </ul>

            }
            else
            {
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        @Html.ActionLink("Login", "Login", "Account", routeValues: null,
                        htmlAttributes: new { id = "loginLink", @class = "center waves-effect collapsible-header" })

                        <hr style="padding:0;margin:0;">
                    </li>
                    
                    <li>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null,
                        htmlAttributes: new { id = "registerLink", @class = "center waves-effect collapsible-header" })

                    </li>
                </ul>
            }



            <!-- Profile Pic and logout -->
            @Html.Partial("_LoginPartial")

        </div>

        <!--  -->
        <div id="content">

            <div style="padding:0px;">
                @RenderBody()

                <div data-ng-view=""></div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>Footer Content</h5>
                        <p>You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5>Links</h5>
                        <ul>
                            <li><span>Link 1</span></li>
                            <li><span>Link 2</span></li>
                            <li><span>Link 3</span></li>
                            <li><span>Link 4</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <span class="right">More Links</span>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <!-- Load app main script -->
    <script src="~/Frontend/app.js"></script>
    <!-- Load services -->
    <script src="~/Frontend/Projects/projectsService.js"></script>
    <!-- Load controllers -->
    <script src="~/Frontend/controllers/indexController.js"></script>

    <script src="~/Frontend/Projects/projectsController.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
