<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignHub</title>
    @Scripts.Render("~/bundles/modernizr")




    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/content/site.css" />
    <link rel="stylesheet" href="~/content/PartialCss/projects.css" />
    <link rel="stylesheet" href="~/content/PartialCss/sidebar.css" />


</head>
<body>

    <div ng-controller="indexController" data-ng-init="init('@User.Identity.IsAuthenticated')">



        

        <div id="sidebar">

            <img class="center" src="~/Content/img/logo_tmp.png" width="200" 
                 style="
                        margin-top:10px;
                        margin-bottom:10px;
                        padding-top:20px;
                        padding-bottom:30px;
                        background-color:rgba(255, 255, 255, 0.12);
                        "
            />
            <!--@Html.ActionLink("DesignHub", "Index", "Home", null, new { @class = "" })-->                                        


           
            <a class="btn-block" 
               href="#/projects"
               ng-class="{'sidebar-active-el':current_page === 'projects'}"
               ng-click="current_page = 'projects'">
                My Projects Gallery
            </a>
                    
           


            @Html.Partial("_LoginPartial")






        </div>

        <div id="content">

            <div style="background-color:white;padding:0px;">
                @RenderBody()

                <div data-ng-view=""></div>
            </div>
        </div>
   </div>

    @Scripts.Render("~/bundles/jquery")

    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <!-- Load app main script -->
    <script src="~/Frontend/app.js"></script>
    <!-- Load services -->
    <script src="~/Frontend/Projects/projectsService.js"></script>
    <!-- Load controllers -->
    <script src="~/Frontend/controllers/indexController.js"></script>

    <script src="~/Frontend/Projects/projectsController.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
